*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Poppins,sans-serif;
background:#0f0f0f;
color:white;
overflow-x:hidden;
}

.background-glow{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at center,
rgba(255,105,180,.15),
transparent 60%);
z-index:-1;
}

.hero{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:30px;
}

.album-card{
width:100%;
max-width:420px;
background:#181818;
border-radius:30px;
overflow:hidden;
box-shadow:0 20px 50px rgba(0,0,0,.5);
}

.album-cover{
width:100%;
height:400px;
object-fit:cover;
}

.album-content{
padding:25px;
}

.small-title{
color:#1db954;
font-size:.8rem;
font-weight:700;
}

.album-content h1{
font-size:3rem;
margin-top:10px;
}

.album-content p{
color:#bbb;
}

#playBtn{
margin-top:20px;
width:100%;
padding:16px;
border:none;
border-radius:50px;
background:#1db954;
font-size:1rem;
font-weight:bold;
cursor:pointer;
}

.intro{
padding:60px 25px;
text-align:center;
}

.timeline{
padding:20px;
}

.memory{
display:flex;
flex-direction:column;
gap:20px;
margin-bottom:80px;
}

.polaroid{
background:white;
padding:12px;
border-radius:10px;
color:black;
transform:rotate(-2deg);
}

.polaroid img{
width:100%;
border-radius:5px;
}

.polaroid p{
text-align:center;
padding-top:10px;
font-family:Caveat;
font-size:1.5rem;
}

.story h2{
margin-bottom:15px;
color:#ff7ab8;
}

.story p{
line-height:1.8;
color:#ddd;
}

.counter-section{
padding:80px 20px;
text-align:center;
}

#daysCounter{
font-size:4rem;
font-weight:bold;
color:#1db954;
margin:20px 0;
}

.paper{
max-width:800px;
margin:auto;
background:white;
color:black;
padding:40px;
border-radius:20px;
}

.paper h2{
margin-bottom:20px;
}

.paper p{
line-height:2;
}

.ending{
padding:100px 20px;
text-align:center;
}

.ending h2{
font-size:2rem;
margin-bottom:20px;
}

.funny-section{
padding:80px 20px;
text-align:center;
}

.funny-section h2{
color:#ff7ab8;
margin-bottom:10px;
}

.funny-section p{
color:#ccc;
margin-bottom:40px;
}

.funny-gallery{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
max-width:800px;
margin:auto;
}

.funny-polaroid{
background:white;
padding:12px;
border-radius:10px;
color:black;
box-shadow:0 10px 30px rgba(0,0,0,.3);
transition:.3s;
}

.funny-polaroid:nth-child(1){
transform:rotate(-4deg);
}

.funny-polaroid:nth-child(2){
transform:rotate(3deg);
}

.funny-polaroid:nth-child(3){
transform:rotate(2deg);
}

.funny-polaroid:nth-child(4){
transform:rotate(-3deg);
}

.funny-polaroid:hover{
transform:scale(1.05);
}

.funny-polaroid img{
width:100%;
height:220px;
object-fit:cover;
border-radius:5px;
}

.funny-polaroid span{
display:block;
margin-top:12px;
font-family:Caveat;
font-size:1.5rem;
}

.love-counter{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:15px;
max-width:500px;
margin:40px auto;
}

.counter-box{
background:#181818;
border:1px solid rgba(255,255,255,.08);
padding:20px;
border-radius:20px;
}

.counter-box span{
display:block;
font-size:2rem;
font-weight:700;
color:#1db954;
}

.counter-box small{
color:#aaa;
font-size:.9rem;
}
